.property-controls {
    .control-item {
        padding-bottom: 5px;
        display: flex;
        flex-direction: row;
        input {
            height: 20px;
            width: 100%;
            margin-left: 10px;
        }
    }
}